/* Create a New CSS File */

body {
    font-family: 'Roboto Slab', serif;
    background: #405eb3;
    background: -webkit-linear-gradient(to right, #a74242, #bcc5df);
    background: linear-gradient(to right, #f39595, #acb1c0);
}

.h1-tag {
    text-align: center;
    margin-top: 4%;
}

.form-content-section {
    width: 50%;
    margin-top: 3%;
    margin-left: 25%;
}

@media screen and (max-width: 600px) {
    .form-content-section {
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .form-content-section {
        width: 100%;
        margin-top: 10%;
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .form-group {
        margin-left: 10px;
        margin-right: 10px;
    }
    .btn-primary {
        margin-left: 10px;
    }
}

@media screen and (max-width: 800px) {
    .form-group {
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-primary {
        margin-left: 20px;
    }
}

.myclass {
    border-radius: 20px;
}